
    <div class="block">
        <div class="block-content">
            <a href="" class="btn btn-success">{{translations.createNoteBtn}}</a>
        </div>
    </div>

    <div class="block block-note">
        <div class="block-header"><h3>Notiz Titel</h3></div>
        <div class="block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos fuga, hic iste itaque labore magnam maiores mollitia odio officia quasi quisquam quod recusandae tempore totam velit veniam voluptas voluptatem!</div>
        <div class="block-footer clearfix">
            <div class="button pull-right">
                <button class="btn btn-white">Anzeigen</button>
                <button class="btn btn-success">Bearbeiten</button>
            </div>
        </div>
    </div>

    <div class="block block-note">
        <div class="block-header"><h3>Notiz Titel</h3></div>
        <div class="block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos fuga, hic iste itaque labore magnam maiores mollitia odio officia quasi quisquam quod recusandae tempore totam velit veniam voluptas voluptatem!</div>
        <div class="block-footer clearfix">
            <div class="button pull-right">
                <button class="btn btn-white">Anzeigen</button>
                <button class="btn btn-success">Bearbeiten</button>
            </div>
        </div>
    </div>

    <div class="block block-note">
        <div class="block-header"><h3>Notiz Titel</h3></div>
        <div class="block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos fuga, hic iste itaque labore magnam maiores mollitia odio officia quasi quisquam quod recusandae tempore totam velit veniam voluptas voluptatem!</div>
        <div class="block-footer clearfix">
            <div class="button pull-right">
                <button class="btn btn-white">Anzeigen</button>
                <button class="btn btn-success">Bearbeiten</button>
            </div>
        </div>
    </div>