<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAS FEE : Notiz Applikation</title>

    <link href="css/style.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        .redText{
            color: red;
        }
        .blueText{
            color: blue;
        }
        .greenText{
            color: green;
        }
    </style>
</head>
<body>

<div id="handlebars-content"></div>

<script src="/frontend/lib/jquery/jquery-2.2.3.min.js" type="text/javascript"></script>
<script src="/node_modules/handlebars/dist/handlebars.js" type="text/javascript"></script>

<script id="addresses-template" type="text/x-handlebars-template">
    <h3>Adresses</h3>
    {{#each addresses}}
    <p>My Name is {{name}} and I live at {{street}}</p>
    {{/each}}

    <h3>HTML Formatted Text</h3>
    <p>{{{htmlFormatedText}}}</p>

    <h3>Helper Functions</h3>
    <p>{{makeLink "Linkttext" "http://www.bmw.ch"}}</p>
    <p>{{changeColor "Color my Text red" color="red"}}</p>
    <p>{{changeColor "Color my Text blue" color="blue"}}</p>
    <p>{{changeColor "Color my Text default" color="sepp"}}</p>
    <p>{{sayHello}}</p>



</script>

<script id="radio-template" type="text/x-handlebars-template">
    <p>
        {{#makeRadio "size"}}
            Small
            Medium
            Large
        {{/makeRadio}}
    </p>

    <p>
        {{#areEqual 1 1}}
            Numbers are equal
        {{else}}
            Numbers are not equal
        {{/areEqual}}
    </p>

    <p>
        {{#if "isActive"}}
            active
        {{else}}
            inactive
        {{/if}}
    </p>

    <div class="potter-1">
        <h3>{{title}}</h3>
        {{#with techData}}
            <div class="isbn">{{{isbn}}}</div>
            <div class="author">{{{author}}}</div>
        {{/with}}
    </div>

    <div class="potter-2">
        {{title}} by {{techData.author}}
    </div>

    <div class="post">
        {{> askQuestion tagName="h2" }}

        <h2>Suggestions</h2>

        {{#each comments}}
        {{> askQuestion tagName="h3" }}
        {{/each}}
    </div>

</script>



<script type="text/javascript">

$(document).ready(function() {

    var rawTemplate = $( "#addresses-template" ).html();

    var compiledTemplate = Handlebars.compile(rawTemplate);

    Handlebars.registerHelper("makeLink", function(text, url){
        text = Handlebars.Utils.escapeExpression(text);
        url = Handlebars.Utils.escapeExpression(url);

        var link = '<a href="' + url + '">' + text + '</a>';

        return new Handlebars.SafeString(link);

    });

    Handlebars.registerHelper("changeColor", function (text, options){
        text = Handlebars.Utils.escapeExpression(text);

        if (options.hash.color === "red"){
            return new Handlebars.SafeString('<span class="redText">' + text + '</span>');
        }
        else if (options.hash.color === "blue"){
            return new Handlebars.SafeString('<span class="blueText">' + text + '</span>');
        }
        else{
            return new Handlebars.SafeString('<span class="greenText">' + text + '</span>');
        }
    });

    Handlebars.registerHelper("sayHello", function (options){
        switch (options.data.lang){
            case "spanish":
                return "Hola";
                break;
            case "french":
                return "Bonjour";
                break;
            default:
                return "Hello";

        }
    });

    var renderedTemplate = compiledTemplate({
        addresses: [
            {name: "Noel", street: "Rychenbergstrasse 57b"},
            {name: "Sepp", street: "Rychenbergstrasse 57b"},
            {name: "Hans", street: "Rychenbergstrasse 57b"}
        ],
        htmlFormatedText: "<i>Italic Text</i>"
    },{
        data: {
            lang: "spanish"
        }
    });

    $("#handlebars-content").append(renderedTemplate);



    var optionsTemplate = $("#radio-template").html();

    var compiledOptionsTemplate = Handlebars.compile(optionsTemplate);

    Handlebars.registerHelper("makeRadio", function (name, options){
        var radioList = options.fn();

        radioList = radioList.trim().split("\n");

        var output = "";

        for (var val in radioList){
            var item = radioList[val].trim();
            output += '<input type="radio" name="' + name + '" value="' + item + '">' + item + '<br>';
        }

        return output;
    });

    Handlebars.registerHelper("areEqual", function(num1, num2, options){
        if(num1 === num2){
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });

    Handlebars.registerHelper("if", function(data, options){
        if(data === "isActive"){
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });

    Handlebars.registerHelper('with', function(context, options) {
        return options.fn(context);
    });

    Handlebars.registerPartial('askQuestion', '<{{tagName}}>{{author}}</{{tagName}}>' + '<div class="comment">{{comment}}</div>');

    var templateData = compiledOptionsTemplate({
        title: "Harry Potter and the Philosopher's Stone",
        techData: {
            isbn: "0-7475-3269-9",
            author: "J. K. Rowling"
        },
        name: "Derek",
        author: "John Smith",
        comment: "Where should we vacation?",
        comments: [{
            author: "Sue Smith",
            comment: "The beach"
            },
            {
                author: "Paul Smith",
                comment: "Disneyworld"
            }
        ]
    });

    $("#handlebars-content").append(templateData);

});


</script>

</body>

</html>